# IDEs & Editors
.idea/
.vscode/
.vcopilot/tasks/

# MacOS
.DS_Store
**/.DS_Store
**/.DS_Store/

# Windows
Thumbs.db
ehthumbs.db

# Local config files
**/*.local.json
~

# Node / Playwright
node_modules/
test-results/
playwright-report/
